@import "tailwindcss";

.container-player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #353131;
    border-radius: 1.5rem;
    width: 40rem;
    height: 40rem;
  }
  
  /* Hide default audio controls */
  audio {
    display: none;
  }
  
  /* Style waveform */
  .waveform {
    width: 80%;
    max-width: 300px;
    height: 100px;
    margin-bottom: 1rem;
  }
  
  svg {
    cursor: pointer;
  }